{% extends 'base_2.html' %}
    {% block content_2 %}
 
        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    {% for i in propertytypes %}
                        <h1 class="mb-3">{{ i.title }}</h1>
                        <p>{{ i.text }}</p>
                    {% endfor %}
                </div>
        
                <div class="row g-4">  
                    {% for i in propertytypesjarang %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="{{ i.img.url }}" alt="Icon">
                                </div>
                                <h6>{{ i.names }}</h6>
                                <span>{{ i.properties }}</span>
                            </div>
                        </a>
                    </div> 
                    {% endfor %}
                </div> 
            </div>
        </div>
        

        

{% endblock %}